footer {
    margin-top:1rem;
  background-color: #0d0d0d;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 2px solid #1f1f1f;
}

footer p {
  margin: 0;
  letter-spacing: 0.5px;
  font-weight: 400;
}
